#main-content {
  padding-top: 0; }

#main-content.goal-indicators .indicator-cards a {
  padding: 0;
  margin-bottom: 1.5rem; }

#main-content.goal-indicators .indicator-cards.target {
  margin-bottom: 1.5rem;
  clear: left; }

#main-content .post-content img {
  width: 100%; }

#main-content h2:first-child {
  font-size: 30px;
  font-weight: bold; }

#main-content .no-gutters img:not(#goal-18) {
  box-shadow: none; }

#main-content .no-gutters img#goal-18 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px; }

.navbar {
  margin-bottom: 0; }

@media (max-width: 999px) {
  .goal-tiles .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }

  #main-content .no-gutters img#goal-18 {
    margin-top: 0; } }
