---
layout: default
---
<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-12 push-md-6">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
        <div class="post-content" itemprop="articleBody">
          <div class="row">
            <div class="col-md-2">
              <div class="thumbnail" data-toggle="modal" data-target=".publication-modal-lg" style="cursor: pointer">
                <img alt="{{ page.title }}" src="{{ site.baseurl }}{{ page.img }}"/>
              </div>
            </div>
            <div class="col-md-10">
              {{ content }}
              <a class="btn btn-success" href="{{site.baseurl}}{{page.file}}">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                {{ page.t.custom.download_publication }}
              </a>
            </div>
          </div>
      </article>
    </div>
  </div>
  <div class="modal fade publication-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="thumbnail">
          <img alt="{{ page.title }}" style="width: 100%" src="{{ site.baseurl }}{{ page.img }}"/>
        </div>
      </div>
    </div>
  </div>
</div>
